body {
    margin: 0;
    font-family: "Fantasy", Copperplate;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.9rem;
}
    
h3 {
    font-size: 1.7rem;
}

p {
    font-size: 1.5rem;
}

li {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}




/* ============== */
/* === HEADER === */
/* ============== */
.header-container {
    display: flex;
    top: 0;
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: solid black;
    background-color: lightblue;
    width: 100%;
    height: 4rem;
    z-index: 1000;
    font-size: 40px;
}

.logo {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 1rem;
}

.nav {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    padding-left: 1rem;
    align-items: center;
    height: 100%;
}

.button {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: 100%;
}

.button-link {
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    height: 4rem;
    text-decoration: none;
    padding: 0px 15px;
}

.button-link:hover {
    background-color: lightcyan;
}

.button li {
    height: 100%;
    display: flex;
}








/* ============== */
/* ==== MAIN ==== */
/* ============== */
.main-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 5rem;
    margin-bottom: 1rem;
    gap: 100px;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    padding-top: 1rem;
    padding-left: 2rem;
    flex: 3;
}

.aside {
    display: flex;
    position: sticky;
    background-color: lightblue;
    border-radius: 50px;
    align-items: center;
    justify-content: flex-start;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 1rem;
    font-size: 30px;
    border-width: 2px;
    flex: 1;
    top: 20rem;
    height: 10rem;
}

.quicksearch {
    list-style-type: none;
}

.quicksearch-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.quicksearch-link:hover {
    color: white;
}

.contact-main-container {
    display: flex;
    flex-direction: column;
    margin-top: 12vh;
    padding-bottom: 2rem;
    gap: 10px;
    padding-left: 2rem;
    justify-content: flex-start;
}

.row {
    display: flex;
    flex-direction: column;
    padding: 2px 5px;
    margin-bottom: 2px;
    width: 50%;
}

input[type=submit] {
    background-color: lightblue;
    border: solid black;
    border-width: 1px;
    border-radius: 10px;
    color: black;
    padding: 12px 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightcyan;
}

.error {
    color: red;
    font-size: 1rem;
    margin-top: 5px;
    min-height: 10px;
}

.form {
    padding: 5px 10px;
}

.formSentMessage {
    color: black;
    font-size: 1rem;
    margin-top: 5px;
    min-height: 10px;
}

.formSent-box {
    color: green;
    font-size: 1rem;
    margin-top: 5px;
    min-height: 10px;
}

.collapsible {
    background-color: lightblue;
    border-radius: 10px;
    border-width: 1px;
    border: solid black;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: lightcyan;
}

.collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
}




/* ============== */
/* === FOOTER === */
/* ============== */
.footer-container {
    display: flex;
    flex-direction: column;
    height: 30vh;
    text-align: center;
    justify-content: flex-end;
    background-color: lightblue;
    padding: 20px;
}

.socials {
    padding: 20px;
}




/* ========================= */
/* ===== MEDIA QUERIES ===== */
/* ========================= */

/* Phones */
@media (max-width: 480px) {
    body {
        .header-container {
            font-size: 30px;
        }
        .main-container {
            flex-direction: column;
            gap: 25px;
        }
        .aside {
            order: 1;
            height: auto;
            position: static;
            margin-left: 2rem;
        }
        .article {
            order: 2;
            width: 85%
        }
        .contact-main-container {
            padding-left: 2rem;
            width: 85%;
        }
        .row {
            width: 100%;
        }
    }
}